<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanma.hanmacommodityserver.item.mapper.TypeMapper">
  <resultMap id="BaseResultMap" type="com.hanma.hanmacommodityserver.item.domain.Type">
    <id column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_create_time" jdbcType="TIMESTAMP" property="typeCreateTime" />
    <result column="type_update_time" jdbcType="TIMESTAMP" property="typeUpdateTime" />
    <result column="type_yn" jdbcType="INTEGER" property="typeYn" />
  </resultMap>
  <sql id="Base_Column_List">
    type_id, merchant_id, type_name, type_create_time, type_update_time, type_yn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_type
    where type_id = #{typeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_type
    where type_id = #{typeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hanma.hanmacommodityserver.item.domain.Type">
    insert into t_type (type_id, merchant_id, type_name,
      type_create_time, type_update_time, type_yn
      )
    values (#{typeId,jdbcType=BIGINT}, #{merchantId,jdbcType=BIGINT}, #{typeName,jdbcType=VARCHAR},
      #{typeCreateTime,jdbcType=TIMESTAMP}, #{typeUpdateTime,jdbcType=TIMESTAMP}, #{typeYn,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hanma.hanmacommodityserver.item.domain.Type">
    insert into t_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="typeCreateTime != null">
        type_create_time,
      </if>
      <if test="typeUpdateTime != null">
        type_update_time,
      </if>
      <if test="typeYn != null">
        type_yn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=BIGINT},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeCreateTime != null">
        #{typeCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeUpdateTime != null">
        #{typeUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeYn != null">
        #{typeYn,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hanma.hanmacommodityserver.item.domain.Type">
    update t_type
    <set>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeCreateTime != null">
        type_create_time = #{typeCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeUpdateTime != null">
        type_update_time = #{typeUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeYn != null">
        type_yn = #{typeYn,jdbcType=INTEGER},
      </if>
    </set>
    where type_id = #{typeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hanma.hanmacommodityserver.item.domain.Type">
    update t_type
    set merchant_id = #{merchantId,jdbcType=BIGINT},
      type_name = #{typeName,jdbcType=VARCHAR},
      type_create_time = #{typeCreateTime,jdbcType=TIMESTAMP},
      type_update_time = #{typeUpdateTime,jdbcType=TIMESTAMP},
      type_yn = #{typeYn,jdbcType=INTEGER}
    where type_id = #{typeId,jdbcType=BIGINT}
  </update>

  <select id="queryType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_type where type_yn=0
  </select>

  <select id="xiugaileimu" parameterType="java.lang.Long" resultType="com.hanma.hanmacommodityserver.item.domain.Type">
    select
    <include refid="Base_Column_List" />
    from t_type where type_id=#{id}
  </select>

  <update id="shanchuleimu" parameterType="java.lang.Long">
    update t_type set type_yn=1 where type_id=#{id}
  </update>
</mapper>